body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.container {
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    font-size: 16px;
}

button.principal {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00c882;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button.pequeno {
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    background-color: brown;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 17px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    font-size: 16px;
}

ul li {
    display: flex;
    justify-content: space-between; /* Alinha os itens */
    padding: 8px 12px;
    border-bottom: 1px solid #ddd; /* Linha para separar os itens */
    font-size: 16px;
    font-weight:bolder;
}

ul li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}
.barra-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
}

.barra-progresso {
    height: 30px;
    background-color: #0077ff;
    width: 0;
    border-radius: 5px;
    max-width: 100%;
}
